drop table Personel;
create table Personel(
         Name VARCHAR(30),
         Surname VARCHAR(30), 
         Cell_Number VARCHAR(10), 
         Job_Position VARCHAR(13),
         Username VARCHAR (20),
         Pass_Word VARCHAR(20),
         PRIMARY KEY(Cell_Number)      
 );
insert into Personel(Name, Surname, Cell_Number, Job_Position, Username,Pass_Word) values ('Jack', 'Storm', '0683729945', 'Administrator', 'JackStor0683', 'JackStor9945');
insert into Personel(Name, Surname, Cell_Number, Job_Position,Username, Pass_Word) values ('Johnson', 'Miller', '0417789016', 'HeadChef', 'JohnMill0417', 'JohnMill9016');
insert into Personel(Name, Surname, Cell_Number, Job_Position,Username, Pass_Word) values ('Jaden', 'Van Wyk', '0439001285', 'Manager',  'JadeVanW0439', 'JadeVanW1285');
